@charset "UTF-8";

/* 回答はここに書いてね */
.container {
  width: 900px;
  background-color: #eff3f4;
  padding: 20px;
  margin: 0 auto;
}

.left-img {
  margin-right: 20px;
  margin-bottom: 10px;
  float: left;
}

.abobe_container_text {
  font-size: 18px;
  line-height: 22px;
  word-break: break-all;
}

.right-img {
  margin-left: 20px;
  float: right;
}

.below_container_text {
  font-size: 18px;
  line-height: 22px;
  word-break: break-all;
}
/* 回答はここに書いてね */
