@charset "UTF-8";

/* 回答はここに書いてね */


.q7-box-propaty {
  width: 225px;
}

/* float */
.float-box {
  font-size: 16px;
  box-sizing: border-box;
  margin-left: 50px;
}

.float-box:first-child {
  float: left;
  margin-left: 0;
}

.float-box:last-child {
  float: right;
}

.clearfix:after {
  clear: both;
  content: "";
  display: block;

}
/* table */
.table-box {
  display: table;
}

.table-box-inner {
  display: table-cell;
  padding-left: 50px;
  vertical-align: middle;

}

.table-box-inner:first-child {
  padding-left: 0;
}

.table-text {
  font-size: 16px;
}

/* inline */
.inline-big {
  font-size: 0;
}


.inline-box {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  box-sizing: border-box;
  margin-left: 50px;
  
}

.inline-box:first-child {
  margin-left: 0;

}
/* flex */
.flex-box {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.flex-box-inner {
  box-sizing: border-box;
  font-size: 16px;
}

/* 固定inline-box */
.q7inline-box-stable {
  display: inline-block;
  width: 300px;
  font-size: 16px;
}

/* 可変inline-box */
.q7inline-box-unstable { 
  display: inline-block;
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
  font-size: 16px;
}

.is-full {
  font-size: 0;
  vertical-align: top;
}

.Q7-margin .q7__box {
  vertical-align: top;
}



/* 回答はここに書いてね */